.running-title {
    background: linear-gradient(to right, #00A3A3, #003399); /* Cambia los colores según tu preferencia */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
  }